*{
    margin: 0;
    padding: 0;
}

/* Common Styles */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-orange{
    color: #FD6E0A;
}
.btn-primary{
    padding: 20px 35px;
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

/* Header section styles */
.header-section{
    background-color:#FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, 2% 100%;
    
    
}
.header-nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 220px;
}
.nav-title{
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.nav-menu{
    display: flex;
    align-items: center;
}
.nav-menu li{
    list-style: none;
    margin-right: 50px;
}
.nav-menu li a{
    text-decoration: none;
}
/* Banner styles */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    padding-left: 220px;
    padding-right: 40px;
}

.banner img {
    max-width: 584px;
    max-height: 676px;
}